<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feedback</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Name" labelPlacement="stacked" [clearInput]="true" placeholder="eg: Viraj Dhumal">
      </ion-input>
    </ion-item>
  
    <ion-list>
      <ion-item>
        <ion-textarea label="Description" labelPlacement="stacked" [clearOnEdit]="true" placeholder="Type something here" [autoGrow]="true">
        </ion-textarea>
      </ion-item>
    </ion-list>
  
    <ion-item>
      <ion-button fill="clear">Submit</ion-button>
      <ion-button fill="clear">Cancel</ion-button>
    </ion-item>
  </ion-list>

  <!-- <app-explore-container name="Feedback"></app-explore-container> -->
</ion-content>
