<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kids
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kids</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/kids/Dino" />
    <ion-card-header>
      <ion-card-title>T-Rex Dinosaur</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The species Tyrannosaurus rex (rex meaning "king" in Latin), often called T. rex or colloquially T-Rex, is one of the best represented theropods. It lived throughout what is now western North America, on what was then an island continent known as Laramidia.
    </ion-card-content>

    <ion-button fill="clear">View</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/kids/Stone_Age" />
    <ion-card-header>
      <ion-card-title>Stone age tools</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The Early Stone Age began with the most basic stone implements made by early humans. These Oldowan toolkits include hammerstones, stone cores, and sharp stone flakes. By about 1.76 million years ago, early humans began to make Acheulean handaxes and other large cutting tools.
    </ion-card-content>

    <ion-button fill="clear">View</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/kids/wooly_mamoth" />
    <ion-card-header>
      <ion-card-title>Wooly Mammoth</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      One species, called woolly mammoths, roamed the cold tundra of Europe, Asia, and North America from about 300,000 years ago up until about 10,000 years ago.
    </ion-card-content>

    <ion-button fill="clear">View</ion-button>
  </ion-card>
</ion-content>
