<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Collections
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Collections</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/collections/Mona_Lisa.jpg" />
    <ion-card-header>
      <ion-card-title>Mona Lisa</ion-card-title>
      <ion-card-subtitle>Creator - Leonardo Da Vinci (1503 AD)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The Mona Lisa is a half-length portrait painting by Italian artist Leonardo da Vinci. Considered an archetypal masterpiece of the Italian Renaissance, it has been described as "the best known, the most visited, the most written about, the most sung about, the most parodied work of art in the world".
    </ion-card-content>
    <ion-button fill="clear">View</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/collections/Gates-of-hell.jpg" width="100%"/>
    <ion-card-header>
      <ion-card-title>Gates of Hell</ion-card-title>
      <ion-card-subtitle>Creator - Auguste Rodin (1915 AD)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The Gates of Hell is a monumental bronze sculptural group work by French artist Auguste Rodin that depicts a scene from the Inferno, the first section of Dante Alighieri's Divine Comedy. It stands at 6 metres high, 4 metres wide and 1 metre deep and contains 180 figures.
    </ion-card-content>
    <ion-button fill="clear">View</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/collections/TheThinker.webp" />
    <ion-card-header>
      <ion-card-title>The Thinker</ion-card-title>
      <ion-card-subtitle>Creator - Auguste Rodin (1904 AD)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The Thinker is a bronze sculpture by Auguste Rodin, usually placed on a stone pedestal. The work depicts a male figure of heroic size sitting on a rock. He is seen leaning over, his right elbow placed on his left thigh, holding the weight of his chin on the back of his right hand.
    </ion-card-content>

    <ion-button fill="clear">View</ion-button>
  </ion-card>
</ion-content>
