<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Collections
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Collections</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/collections/Mona_Lisa.jpg" />
    <ion-card-header>
      <ion-card-title>Mona Lise</ion-card-title>
      <ion-card-subtitle>Creator - Leonardo Da Vinci (100BCE)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button fill="clear">View</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/collections/Auguste_Rodin.jpg" width="100%"/>
    <ion-card-header>
      <ion-card-title>Auguste Rodin</ion-card-title>
      <ion-card-subtitle>Creator - Auguste Rodin (100BCE)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button fill="clear">View</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/collections/TheThinker.webp" />
    <ion-card-header>
      <ion-card-title>The Thinker</ion-card-title>
      <ion-card-subtitle>Creator - Auguste Rodin (100BCE)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

    <ion-button fill="clear">View</ion-button>
  </ion-card>
  
  <!-- <app-explore-container name="Collections"></app-explore-container> -->
</ion-content>
