<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upcoming
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Upcoming</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/upcoming/LivingWild.jpg" />
    <ion-card-header>
      <ion-card-title>Living Wild with Hilton Carter</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Join with Hilton Carter, the famous archiologist, into an adventure and history of Wild life.
      <ion-list>
        <ion-item>
          <ion-badge slot="end">20</ion-badge>
          <ion-label>Already Registered: </ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="end">80</ion-badge>
          <ion-label>Seats remaining: </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-button fill="clear">Details</ion-button>
    
    <ion-fab>
      <ion-fab-button size="small">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/upcoming/DistrictDay.png" />
    <ion-card-header>
      <ion-card-title>District Day</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      In coordination with the D.C. Office of African American Affairs, the Smithsonian's National Museum of African American History and culture is hosting a District Day.
      <ion-list>
        <ion-item>
          <ion-badge slot="end">52</ion-badge>
          <ion-label>Already Registered: </ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="end">18</ion-badge>
          <ion-label>Seats remaining: </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-button fill="clear">Details</ion-button>
    <ion-fab>
      <ion-fab-button size="small">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/upcoming/AfricanAmericanWar.jpg" />
    <ion-card-header>
      <ion-card-title>African American War</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      African Americans played a prominent role in the Vietnam War. The Vietnam War was the first American war in which Black and White troops were not formally segregated, and even saw significant growth in the number of African Americans engaged in battlefield combat, though some de facto segregation still occurred.
      
      <ion-list>
        <ion-item>
          <ion-badge slot="end">60</ion-badge>
          <ion-label>Already Registered: </ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="end">10</ion-badge>
          <ion-label>Seats remaining: </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-button fill="clear">Details</ion-button>
    <ion-fab>
      <ion-fab-button size="small">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card>
</ion-content>
